[Unit]
Description=Secondhand Springboot Application


[Service]
SuccessExitStatus=143
User=root

ExecStart=/opt/taylan/second-hand/second-hand.sh
ExecStop=/bin/kill -13 $MAINPID
TimeoutStopSec=10
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target

